.DS_Store
*.xcuserdata
*.xcuserstate
*.swp
*.xccheckout
*.xcbkptlist
*.xccurrentversion
Breakpoints_v2.xcbkptlist
UserInterfaceState.xcuserstate
*.xcscheme
xcschememanagement.plist
WorkspaceSettings.xcsettings
